# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/External/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.opensdf

# Mac
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs
*.log

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Sensitive
*.key
*.keystore
/secrets/
